@using Modulos_Core_MVC.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%; height: 100%; margin:0px">
    @RenderBody()
</div>


@section menu{
    <li><a href="@Url.Action("Register", "Vivero", new { area= "Plantaciones", id = 0})">INGRESO DE<strong>VIVERO FORESTALES</strong></a></li>
    <li><a href="@Url.Action("Index", "Vivero", new { area= "Plantaciones"})">GESTIÓN DE<strong>VIVEROS FORESTALES</strong></a></li>

    
     <li>
        <a id="helpButton" type="submit" target="_blank"
           style="width:55px;height: 55px;padding:5px 5px;font-size:40px;line-height:1.33;border-radius:35px;"
           href="//e.issuu.com/embed.html#30236279/50566019" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-question-sign"></i></a>
    </li>
}


@section scripts{

    @Html.RenderScripts()
    @RenderSection("scripts", required: false)

}